
<div class="container-fluid text-center" style="height: 100vh;">
     <div class="row  align-items-center">
        <div class="col d-flex flex-column align-items-center w-100" style="height: 100vh;">
             <h3 class="bg-primary rounded-bottom w-25 p-2" id="news">my dashboard</h3>
             <p class="my-2 text-primary">click title to update / delete post</p>
             {{> dashPosts }}
        </div>

        <div class="col align-items-center"  id="hero" style="height: 100vh;">
            <div class="row">
            {{!-- <form class="border border-primary rounded mt-5 w-50" style="background-color: whitesmoke;">
              <h3 class="text-primary">content generator</h3>
              <p class="text-primary">up your blog game with our AI content generator. give it a prompt, and we'll take care of the rest!</p>
              <div class="col">
                <input type="text" class="form-control my-2 border-primary" placeholder="title (required)" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control my-2 border-primary" placeholder="subject" aria-label="Last name">
              </div>
              <button type="button" class="btn btn-primary my-2">+ create post</button>
            </form>         --}}
            </div>
        </div>
    </div>
</div>
<script src="/js/dash.js"></script>