
    <div class="container-fluid text-center" style="height: 100vh;">
        <div class="row  align-items-center">
            <div class="col d-flex flex-column align-items-center w-100" style="height: 100vh;">
                <h3 class="bg-primary rounded-bottom w-25 p-2" id="news">blog.feed</h3>
                {{> homePosts }}
            </div>
            <div class="col" id="hero" style="height: 100vh;">
                
            </div>
        </div>
    </div>




