* {
    font-family: 'Poppins', sans-serif;
}

#hero {
    background-image: url('../images/binary-tech.png');
    background-size: cover;
}

#news {
    font-size: 25px;
    color: whitesmoke;
}

#date {
    font-size: 10px;
}

#comment-user {
    font-size: 10px;
}